body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body > div{
    width: 400px;
    height: 400px;
    background-color: lightgreen;
    border: 5px solid black;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.filho{
    background-color: lightsalmon;
    border: 2px solid black;
    padding: 5px;
    width: 85px;
    height: 85px;
}

#pai-1{
    row-gap: 20px;
}

#pai-2{
    column-gap: 20px;
}

#pai-3{
    gap: 20px;
}