
/* .top div{
    border: 1px solid black;
} */


.navbar-collapse{
    max-width: 377px;
    margin-top: 5vw;
}

.navbar-toggler{
    position: static;
}


.logo{
    flex-shrink: 0;
}



.nave {
    flex-grow: 1;
}
