


.imagem, .nave, .top, .navbar{
    border: 2px solid red;
}

.navbar{
    width: fit-content;
}


/* NAVBAR CLOSE ICON */

.btn-close-custom {
    display: none;
}

.navbar-toggler {
    position: relative;
    /* width: 40px;
    height: 40px; */
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    display: block;
}

.navbar-toggler.collapsed .btn-close-custom {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .btn-close-custom {
    display: block;
}

.navbar-toggler .btn-close-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}