body{
    background-color: rgb(245, 244, 244);
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vw;
}

/* MAIN ESQUERDA */

.quote{
    font-size: 25px;
    font-weight: 450;
    margin-top: -30px;
}

/* INPUT CARD */

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: fit-content;
}

.card{
    box-shadow: 3px 3px 6px 8px rgb(231, 231, 231);
    border-radius: 8px;
}

.credenciais{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
}

input:focus{
    border: 2px solid rgb(14, 14, 254);
    outline: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.nova_conta{
    background-color: rgb(11, 194, 11);
    font-weight: 400;
    border: none;
}


/* FOOTER */



footer hr{
    width: 95%;
    margin: auto;
}

.copy{
    margin-left: 20px;
}


