@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Honk&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Madimi+One&family=Rubik+Glitch+Pop&family=Whisper&family=Workbench&display=swap');

:root{
    --cinza_1d: #1D1D1D;
    --cinza_70:  #707070;
    --cinza_4d: #4D4D4D;
    --dourado_b4:  #B47D33;
    --dourado_b1: #B17E3B;
    --dourado_a9: #A97339;
    --branco: #FFFFFF;
    --preto: #000000;
}


.menu_rodape{
    font-family: 'Lato';
    color: var(--cinza_4d);
    font-size: 16px;
    text-transform: uppercase;
}

.menus{
    font-family: 'Lato';
    color: var(--cinza_4d);
    font-size: 18px;
    text-transform: uppercase;
}


.submenus{
    font-family: "IBM Plex Sans";
    color: var(--cinza_4d);
    font-size: 13px;
    font-weight: medium;
}

.ibm_P{
    font-family: "IBM Plex Sans";
    font-weight: light;
    font-size: 13px;
    color: var(--cinza_4d);
}

.ibm_T1{
    font-family: "IBM Plex Sans";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: var(--cinza_4d);
}

.ibm_T{
    font-family: "IBM Plex Sans";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: var(--cinza_4d);
}

.banner_titulo{
    font-family: "IBM Plex Sans";
    text-transform: uppercase;
    font-weight: light;
    font-size: 40px;
    color: var(--cinza_4d);
}



hr{
    margin: 15px 55px;
    background-color: var(--cinza_70);
}


/* CAROUSEL */
.flex_center{
    display: flex;
    justify-content: center;
}

#carousel_banner .carousel-indicators button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
}

.carousel-inner *{
    border: 1px solid black;
}

.size{
    height: 730px;
}
