
body *{
    transition-duration: 0.3s;
}



/* HEADER */

.size{
    height: 730px;
}

#tony{
    font-weight: bold;
    font-size: 35px;
    color: var(--cinza_4d);
    padding-top: 52px;
}

header hr{
    margin: 15px 55px;
    color: var(--cinza_70);
}


/* NAVBAR */


.navbar{
    margin-top: -15px;
}

.letra_nav{
    font-weight: 1000;
    color: var(--cinza_4d);
    font-size: 18px;
}

.nav-link:hover{
    color: var(--dourado_b4);
}






/* CAIXA SUBMENU */

.caixa_submenu{
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 3px 3px rgb(194, 194, 194);
    padding: 25px 35px 30px;
}

.caixa_submenu a{
    font-weight: bold;
    color: var(--cinza_4d);
    font-size: 13px;
    cursor: pointer;
    padding: 7px px;
}

.dropdown-item:hover{
    color: var(--dourado_b4);
}






/* CAROUSEL */

.posicao{
    box-sizing: border-box;
    width: 100%;
    margin-left: -12px;

    position: absolute;
    top: 0px;
    z-index: -1;
}


.carousel-caption{
    /* border: 1px solid black; */
    color: black;
    width: 38%;
    text-align: left;
    padding: 5px;


    position: relative;
    bottom: 455px;
    left: 160px;
}

.carousel-caption h5{
    font-family: 'IBM Plex Sans';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    color: var(--cinza_4d);
    margin-top: 12px;
}


.carousel-caption p{
    font-family: 'IBM Plex Sans';
    font-weight: light;
    font-size: 13px;
    color: var(--cinza_4d);
    margin-top: 8px;
}

.carousel-caption button{
    font-family: 'IBM Plex Sans';
    text-transform: uppercase;
    width: 120px;
    height: 30px;
    color: white;
    background-color: var(--dourado_b1);
    border: none;
    font-weight: 700;
    margin-top: 15px;
}

.carousel-caption button:hover{
    background-color: var(--cinza_4d);
    color: white;
}



#carouselExampleCaptions .carousel-indicators button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
    border: 1px solid var(--cinza_70);
    margin: 0px 10px;

    position: relative;
    right: 402px;
    bottom: 80px;
}

#carouselExampleCaptions .carousel-indicators button.active{
    background-color: rgba(0, 0, 0, 0.5) !important;
}



/* MAIN */


.card{
    width: 1190px;
    height: 538px;
    margin-top: -45px;
    margin-left: 90px;
    border: none;
    box-shadow: 0px 0px 6px 4px rgb(223, 222, 222);
}

.card_1{
    height: 100%;
}

/* .card_1 div{
    border: 1px solid black;
} */



.tony{
    width: 312px;
    height: 396px;
    margin-top: 60px;
}

.card-body{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 50px;
    margin-top: 75px;
    text-align: left;
}


.card-body h5{
    font-size: 25px;
    color: var(--cinza_4d);
    font-weight: bold;
}

.card-body p{
    margin-top: 25px;
}

.card-body div:nth-child(3){
    margin-top: 25px;
    align-self: flex-end;
}

.card-body div:nth-child(3) button:hover{
    background-color: var(--cinza_4d);
    color: white;
}