
body{
    font-family: Arial, Helvetica, sans-serif;
}

.div_1{
    background-color: aquamarine;
    padding: 100px;
}

.div_2{
    background-color:  greenyellow;
    padding: 10px;
    margin: 100px;
}