body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body > div{
    background-color: lightgreen;
    border: 5px solid black;
    width: 400px;
    height: 250px;
    display: flex;
    margin: 40px auto;
}

.filho{
    background-color: lightsalmon;
    padding: 5px;
    border: 2px solid black;
}


/* Row */

#pai-1, #pai-2, #pai-3, #pai-4, #pai-5, #pai-6, #pai-7{
    flex-wrap: wrap;
}

#pai-1{
    align-content: stretch;
}

#pai-2{
    align-content: flex-start;
}

#pai-3{
    align-content: flex-end;
}

#pai-4{
    align-content: center;
}

#pai-5{
    align-content: space-between;
}

#pai-6{
    align-content: space-evenly;
}

#pai-7{
    align-content: space-around;
}


/* column */

#pai-8, #pai-9, #pai-10, #pai-11, #pai-12, #pai-13, #pai-14{
    flex-direction: column;
    flex-wrap: wrap;
}


#pai-8{
    align-content: stretch;
}

#pai-9{
    align-content: flex-start;
}

#pai-10{
    align-content: flex-end;
}

#pai-11{
    align-content: center;
}

#pai-12{
    align-content: space-between;
}

#pai-13{
    align-content: space-evenly;
}

#pai-14{
    align-content: space-around;
}