body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#p_1{
    font-size: 1cm;
}

#p_2{
    font-size: 10mm;
    color: red;
}

#p_3{
    font-size: 0.5inc;
    color: pink;
}

#p_4{
    font-size: 20px;
    color: blue;
}

#p_5{
    font-size: 10pt;
    color: green;
}

#p_6{
    font-size: 2pc;
    color: gray;
}